@use '../helpers' as *;

.button {
  height: var(--input-height);
  border-radius: 34px;
  transition-duration: var(--transition-change-theme);

  @include hover() {
    transition-duration: var(--transition-duration);
    background-color: var(--border-muted);
  }

  @include focus-visible-no-typing;

  &-theme {
    --sizeButton: 96px;

    position: relative;
    width: var(--sizeButton);
    background-color: var(--bg-light);
    border: var(--border);

    @include tablet {
      --sizeButton: 76px;
      --input-height: 36px;
      border-width: var(--border-width-xm);
    }

    @include hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }

    &-toggle {
      @include abs-y;
      @include flex-center;

      width: calc(var(--sizeButton) / 4);
      height: calc(var(--sizeButton) / 4);
      left: calc(var(--sizeButton) / 8);

      transition-duration: var(--transition-change-theme);

      svg {
        width: calc(var(--sizeButton) / 4);
        height: calc(var(--sizeButton) / 4);

        border: var(--border-width-s) solid var(--border-color);
        border-radius: 50%;
        background-color: var(--bg-dark);
      }

      &.is-active {
        --translateX: calc(var(--sizeButton) / 2.2);
        transform: translateX(var(--translateX));
      }
    }
  }

  &-clicking {
    @include square(300px);
    background-color: var(--bg-light);
    border: var(--border);
    color: var(--text-muted);

    @include hover {
      background-color: var(--border-color);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }

    @include tablet {
      @include square(200px);
    }
  }

  &-reset {
    --sizeButton: 48px;

    @include square(var(--sizeButton));
    background-color: var(--bg-light);
    border: var(--border);
    color: var(--text-muted);

    @include tablet {
      --sizeButton: 36px;
      border-width: var(--border-width-xm);
    }

    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
    }

    @include hover(false) {
      svg {
        animation-name: spin360deg;
        animation-duration: 0.7s;
      }

      transform: translateY(-2px);

      &:active {
        transform: translateY(0);
      }
    }
  }

  &-popup-link {
    display: flex;
    align-items: center;
    justify-content: center;
    --input-height: 36px;
    padding: 10px;
    border-radius: var(--border-radius-m);
    background-color: var(--bg-light);
    border: var(--border);
    color: var(--text-muted);
    border-width: var(--border-width-s);

    @include hover {
      background-color: var(--border-color);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }

    @include laptop {
      --input-height: 30px;
      padding: 7px;
    }

    @include tablet {
      --input-height: 30px;
      padding: 5px;
    }
  }

  &-tabs-close-button {
    --sizeButton: 36px;

    @include square(var(--sizeButton));

    position: relative;
    background-color: var(--bg-light);
    border: var(--border);
    color: var(--text-muted);

    @include hover {
      background-color: var(--border-muted);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }

    @include tablet {
      border-width: var(--border-width-xm);
    }

    &::before,
    &::after {
      @include abs-center;

      content: '';
      background-color: var(--text-muted);
      width: 2px;
      height: calc(var(--sizeButton) / 2);
      border-radius: 3px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}