@use '../helpers' as *;

.footer {
  @include flex-center;
}

.soc1als {
  &__list {
    @include flex-center;
    gap: 20px;
  }

  &__item {
    @include flex-center;
  }

  &__link {
    @include flex-center;
    gap: 10px;
    padding: 8px 12px;

    @include focus-visible-no-typing;

    @include hover {
      color: var(--border-muted);
      transition-duration: var(--transition-duration);
    }

    &-icon-inner {
      @include square(20px);
    }
  }
}