@use '../helpers' as *;

@keyframes spin360deg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  margin-bottom: 10px;
  flex-shrink: 0;

  @include tablet {
    margin-bottom: 20px;
  }

  @include mobile {
    margin-bottom: 35px;
  }

  @include fluid-text(38, 20);

  font-weight: 700;

  &__content {
    @include flex-center();
    gap: 10px;
    cursor: default;

    @include hover(false) {
      .header__logo {
        animation-name: spin360deg;
        animation-duration: 0.9s;
        animation-iteration-count: infinite;
      }
    }
  }

  &__logo {
    @include square(48px);
    @include flex-center();

    @include tablet {
      @include square(36px);
    }

    @include mobile {
      @include square(30px);
    }
  }

  &__theme-icon-inner {
    @include flex-center();
  }
}