@use '../helpers' as *;

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-width));
  grid-auto-rows: max-content;
  align-content: start;
  justify-content: center;
  gap: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  min-height: 0;
  padding-right: 8px;
  max-width: 100%;

  &__empty-message {
    color: var(--text);
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 100%;
    border: var(--border);
    border-radius: var(--border-radius-m);
    transition-duration: var(--transition-change-theme);
  }

  @include tablet {
    gap: 10px;
  }

  &.is-empty {
    @include square(24px);
    background-color: red;
  }

  &__item {
    height: fit-content;
    width: 100%;
    max-width: var(--card-width);
    display: flex;
  }

  @include laptop {
    --card-width: 180px;
  }

  @include tablet {
    --card-width: 135px;
  }

  &::-webkit-scrollbar {
    width: 6px;

    @include tablet {
      width: 3px;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bg);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 3px;

    &:hover {
      background-color: var(--border-muted);
    }
  }
}