@use '../helpers' as *;

.rules {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    @include fluid-text(32, 24);
    font-weight: 400;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 23px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    color: var(--text-muted);
    transition-duration: var(--transition-change-theme);

    &::-webkit-scrollbar {
      width: 6px;

      @include tablet {
        width: 4px;
      }
    }

    &::-webkit-scrollbar-track {
      background-color: var(--bg);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--border-color);
      border-radius: 3px;
      transition: background-color var(--transition-duration);

      &:hover {
        background-color: var(--border-muted);
      }

      &:active {
        background-color: var(--text-muted);
      }
    }
  }
}