@use '../helpers' as *;

.shop {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    @include fluid-text(32, 24);
    font-weight: 400;
    text-align: center;
  }

  &-card {
    padding: 8px;
    background-color: var(--bg-light);
    border-radius: var(--border-radius-xs);
    border: 1px solid var(--border-muted);

    &__title {

    }

    &__description {

    }
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-height: 400px;
  overflow: auto;

  &__item {
  }
}