@use '../helpers' as *;

.shop {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;

  &__title {
    @include fluid-text(32, 24);
    font-weight: 400;
    text-align: center;
    flex-shrink: 0;
  }
}